
		

body
	padding 50px
	background light-gray
	-webkit-font-smoothing antialiased
	

label
	cursor pointer
	color #666
	
	input[type="checkbox"]
		display none

		+ .label-text:before
			content "\f204"
			font-family: "FontAwesome"
			speak none
			font-style: normal
			font-weight normal
			font-variant normal
			text-transform: none
			line-height: 1
			width 1em
			display inline-block
			margin-right: 5px
		
		&:checked + .label-text:before
			content "\f205"
			/* ahother way to add content: content url(holi.png.com) */
			color #06a3e9
			animation tick 180ms ease-in
		
		&:disabled + .label-text
			color #999

			&:before
				content "\f204"
				color #ccc
		
		